body {
    max-width: 73%;
    margin: 5% auto;
    background-color: #eeeeee;
    color: #444444;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;  
    line-height: 1.8 em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    order: 0;
}

h2 {
    order: 2;
}

#price {
    order: 1;
    background-color: #444488;
    color: #eeeeee;
    align-self: flex-end;
    padding: 0.5em;
    border-radius: 15px;
}

article {
    order: 3;
}