body {
    max-width: 73%;
    margin: 2em auto;
    background-color: #eeeeee;
    color: #444444;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;  
    line-height: 1.8 em;
}

main {
    width: 800px;
}

h1 {
    width: 800px;
}

#price {
    background-color: #444488;
    color: #eeeeee;
    padding: 0.5em;
    border-radius: 15px;
}
