doctype html
html(lang='en')
  head
    // https://rueil-malmaison-92500.site-pap.fr/accueil.html
    meta(charset='utf-8')
    title
      block page-title
    link(rel='stylesheet', href='style.css')
    block scripts
  body
    header
      a(href='./index.html') Accueil
      a(href='./Photos.html') Photos
    main
      h1 Appartement T2 à louer - Puteaux (92800)
      h2
        block content-title
      span#price Loyer: 1400 €
      article
        block content