- var global_title = "Appartement T2 meublé à louer - 50m² - Puteaux (92800)"
- var sub_title = "Visites possibles à partir du 24 août 2024."
- var contact_text = "Disponible immédiatement"
- var montant_loyer = "1370€"
- var montant_charge = "80€"
