- var global_title = "Appartement T2 meublé à louer - 50m² - Puteaux (92800)"
- var sub_title = "Visites possibles samedi 2 août et dimanche 3 août."
- var contact_text = "Début de bail possible courant août (à discuter)"
- var montant_loyer = "1370€"
- var montant_charge = "90€"
