extends _layout.pug

block variables
  - var title = "Appartement"

block content
  #viewer.rooms

    h3 Salon / Salle à manger
    p.

      Le salon est une belle pièce rectangulaire avec un canapé, une table
      basse, une télévision, une table et des étagères. Le sol est un parquet
      flottant. Deux radiateurs électriques modernes assurent le confort
      thermique de la pièce.
    
    +image-large("salon")
   
    h3 Cuisine

    .kitchen
      p.

        La vaisselle et les ustensiles sont fournis. Sol en carrelage.
      
      p Équipement:
      ul
        li Four programmable équipé de plaques vitrocéramiques
        li Lave linge (lavante séchante)
        li Frigo avec compartiment congélateur
        li Micro ondes
        li Cafetière
        li Bouilloire
        li Grille pain

    
    +image-large("cuisine")
   
    h3 Salle de bain / Toilettes
    p.
    
      La salle de bain contient un lavabo et une baignoire. Un rangement avec
      miroir se trouve au dessus du lavabo. La pièce contient également un
      grand placard intégré. WC indépendant avec lave-mains. Les deux pièces
      ont un sol en carrelage.
      
    +image-large("eau2")
   
    h3 Chambre
    p.

      La chambre contient un lit (140x190) et une armoire. Des étagères
      intégrées sont fermées par des portes miroirs coulissantes.

    +image-large("chambre")
