extends _layout.pug

block page-title
  | Appartement

block content-title
  | Appartement

block content
  p
    | Situé au 2ème étage dans un immeuble de standing au sein d'un quartier calme,
    | l'appartement est un 2 pièces de 50 m² avec une vue dégagée
    | sur les tours de la défense.
