extends _layout.pug

block variables
  - var title = "Présentation"

block content
  p.
    Situé au 2ème étage dans un immeuble de standing au sein d'un quartier calme,
    l'appartement est un 2 pièces de 50 m² avec une vue dégagée
    sur les tours de la défense.
  ul
    li
      | Cave et garage (box individuel fermé) compris dans la location
    li
      | Accès digicode + interphone ou vigic
    li
      | Gardien présent dans l'immeuble
    li
      | Proche commerces et transports en commun -
      | métro 1 (esplanade de la défense) & T2 (puteaux)
    li
      | A proximité de la défense
  div#viewer.viewer-large
    +image-large("plan")
