extends _layout.pug

block variables
  - var title = "Présentation"

block content
  p.

    Situé au 2ème étage dans un immeuble de standing au sein d'un quartier
    calme, l'appartement est un 2&nbsp;pièces de 50 m² avec une vue dégagée sur les
    tours de la défense. Les fenêtres donnent sur une petite rue à sens unique.

  p 
    | Loyer: #{montant_loyer} par mois (hors charges) <br/>
    | Charges: #{montant_charge} de charges locatives (provision donnant lieu à une régularisation annuelle)
    | couvrant: taxe ordures ménagères, eau, gardien<br/> 
    | Dépôt de garantie: #{montant_loyer}
  
  ul
    li
      | Cave et garage (box individuel fermé) compris dans la location
    li
      | Accès digicode + interphone ou vigic
    li
      | Gardien présent dans l'immeuble
    li
      | Proche commerces et transports en commun -
      | métro 1 (esplanade de la défense) & T2 (puteaux)
    li
      | A proximité de la défense (10mn à pied)
    li
      | Chauffage électrique individuel & double vitrage
    li
      | Chauffe eau électrique avec ballon
    li
      | Accès ascenceur
    li
      | Vide ordure sur le palier à l'étage
    li
      | Immeuble et appartement fibrés
    li
      | Compteur d'eau individuel (consommation comprise dans les charges)

  div#viewer.viewer-large
    +image-large("plan")
    +image-large("rue")
    +image-large("dpe")
