extends _layout.pug

block variables
  - var title = "Photos"

block content
  #viewer.viewer-compact
    +image('plan')
    +image('salon')
    +image('salon2')
    +image('chambre')
    +image('chambre2')
    +image('vue')
    +image('cuisine')
    +image('cuisine2')
    +image("entree")
    +image("entree2")
    +image("eau")
    +image("toilettes")
    +image('jardin')
    +image('rue')
